
body {
  font-family: 'Outfit', sans-serif;
  color: hsl(215, 51%, 70%);
  background-color: hsl(217, 54%, 11%);
  margin: 0;
  text-align: center;
}

body p {
  font-size: 18px;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 375px;
  display: inline-block;
  border-radius: 21px;
  margin-top: 100px;
}

header {
  padding: 27px;
}

.containerbox {
  position: relative;
}

.eye {
    display: none;
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: center;
}

.box {
  width: 100%;
  border-radius: 11px;
}

.hovercolor {
  visibility: hidden;
  background-color: hsl(178, 100%, 50%);
  position: absolute;
  top: 0px;
  height: 321px;
  width: 100%;
  border-radius: 11px;
}

.containerbox:hover .eye {
  display: block;
}

.containerbox:hover .box {

}

.containerbox:hover .hovercolor {
  visibility: visible;
  opacity: 0.3;
}

main {
  text-align: left;
}

.title {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  margin-left: 27px;
}

.title:hover {
  color: hsl(178, 100%, 50%);
}

p {
  margin: auto 27px auto 27px;
}
/* how the fuck wwe arrange the price and time??????????? */
.tradeinfo {
  position: relative;
  /* background-color: black; */
  display: flex;
  margin: 18px 27px auto 27px;
}

.tradeinfo > * {
  flex-basis: 100%;
}

.price {
  color: hsl(178, 100%, 50%);
  /* background-color: red; */
}

.priceicon {
  /* float: left; */
  position: relative;
  top: 2px;
}
/* TODO: only need polishing now */
.pricedata {
  display: inline-block;
}

.time {
  /* background-color: green; */
  text-align: right;
}

.timeicon {
  /* float: left; */
  position: relative;
  top: 2px;
}

.timedata {
  display: inline-block;
}

hr {
  border-top: 1px solid hsl(215, 32%, 27%);
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 14px 27px auto 27px;
}

footer {
  text-align: left;
}

.avatar {
  width: 9%;
  float: left;
  margin: 13px 13px 27px 27px;
  outline: solid;
  outline-color: white;
  outline-width: thin;
  border-radius: 20px;
}

.signature {
  display: inline-block;
  margin-top: 22px;
}

.jules-link {
  color: white;
  text-decoration: none;
}

.jules-link:hover {
  color: hsl(178, 100%, 50%);
}

.attribution {
  margin-bottom: 100px;
}
